<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso Producto</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="productoForm" (ngSubmit)="onFormSubmit(productoForm.value)">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="producto.nombre"  formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Materialidad</ion-label>
      <ion-input type="text" [(ngModel)]="producto.materialidad" formControlName="materialidad"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" [disabled]="!productoForm.valid">Guardar</ion-button>
  </form>
</ion-content>
