<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Bienvenido a la App</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="logo-container">
      <img src="assets/img/paño_barron.jpeg" alt="" class="logo">
      </div>
    </mat-card-content>
  </mat-card>
</ion-content>
